* { box-sizing: border-box; }

.main aside input[type="text"] {
	width: 100%;
	line-height: 22px;
	padding: 0 3px 0 px;
	margin-bottom: 2px;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.main aside input[type="submit"] {
	width: 100%;
}
